main{
    background-color:#f93;
    background-image: linear-gradient(135deg, #FFA500 0%, #FFA500 33.33%, #fff 33.33%, #fff 66.67%, #00FF00 66.67%, #128807 100%);
    background-size: 100% 50%;
    
    
    
}
#headline{
    font-size: 50px;
    text-shadow: 3px 3px 3px white;
}

header{
    background-image: url(https://cdn.wallpapersafari.com/46/6/73iMzL.jpg);
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#flag{
    margin-top: 45px;
    margin-left: 25px;
}
.places{
    display: flex;
    flex-direction: row;
}
.paragraph{
    padding-top: 50px;
    text-align: center;
    
}
h1{
    text-align: center  ;
    text-shadow: 2px 2px 2px white;
}
img{
    margin-left: 10px;
}
pre{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    
}
footer{
    display: flex;
    flex-direction: row-reverse;
}
a{
    text-decoration: none;
    color: #0000FF;
}
a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #ff0000;
}
a:active{
    color: #ff0000;
}